@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --main-color: #a1a5a5;
  --color-primary: #191b1b;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  line-height: 1.5;
}

span {
  color: var(--main-color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: var(--color-primary);
  color: white;
}

section {
  padding: 1rem 20%;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.container {
  display: none;
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.activechild {
  display: block;
  animation: appear 1s ease-in-out;
  transform: translateY(0) scaleY(1);
}

.heading {
  font-size: 4rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  flex-flow: column;
  padding: 8rem 2rem;
  width: 25rem;
  text-align: center;
}

header .logo {
  text-transform: uppercase;
  color: rgb(168, 164, 164);
  font-size: 10em;
  font-weight: bolder;
  font-family: "Satisfy", cursive;
}

header .navbar a {
  display: block;
  font-size: 2rem;
  color: #fff;
  margin: 2rem 0;
}

header .navbar a:hover {
  letter-spacing: 0.2rem;
  color: var(--main-color);
  cursor: pointer;
}

header .follow a {
  font-size: 2.5rem;
  color: #fff;
  margin: 0 0.7rem 5rem 0.7rem;
}

header .follow a:hover {
  color: var(--main-color);
}

header .copyright {
  position: absolute;
  bottom: 3%;
  font-size: 12px;
}
/* header */

/* button */
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  background: var(--main-color);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.7rem;
}

.btn:hover {
  background-color: white;
  color: black;
}
/* button */

#menu-bars {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  background: var(--main-color);
  color: #fff;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 3rem;
  cursor: pointer;
  display: none;
}

/* home */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 30%;
}

.home h1 {
  font-size: 10em;
}

.home p {
  font-size: 2em;
}
/* home */

/* Page Title */
.main-title {
  text-align: center;
}
.main-title h1 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}
.main-title h1 span {
  color: var(--main-color);
}
.main-title h1 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgb(49, 49, 49);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}
/* Page Title */

/* About */
.about {
  padding-left: 30%;
}
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 100px;
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}

.about-container .left-about img {
  width: 105%;
  padding-top: 10rem;
  padding-right: 3rem;
}

.about-container .left-about {
  padding-right: 3rem;
}

.about-container .right-about p {
  font-size: 2rem;
  line-height: 2;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.about-container .right-about h4 {
  font-size: 3rem;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: #a1a5a5;
  text-align: center;
}

.timeline-title {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5rem;
}

.timeline-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.timeline-item {
  position: relative;
  padding-left: 2.3rem;
  border-left: 1px solid white;
  margin-bottom: 3rem;
}
.tl-icon {
  position: absolute;
  left: -27px;
  top: -10px;
  background-color: rgb(45, 62, 109);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tl-icon i {
  font-size: 3rem;
}
.tl-duration {
  margin-left: 2rem;
  padding: 0.2rem 0.7rem;
  background-color: grey;
  border-radius: 15px;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
}
.timeline-item h5 {
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 600;
}
.timeline-item h5 span {
  color: grey;
  font-weight: 500;
  font-size: 2rem;
}
.timeline-item p {
  color: white;
}

.study-timeline {
  margin-right: 5rem;
}

.study-timeline h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
}

.work-timeline h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
}
/* About */

/* Resume */

/* Resume */

/* contact */
.contact {
  padding-left: 30%;
}

.contact-content-con {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10rem;
}

.contact-content-con h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.contact-content-con .left-contact h5 {
  margin-top: 1rem;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.contact-content-con .left-contact span {
  font-size: 2rem;
}

.contact-content-con .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}

.contact-content-con .left-contact .contact-info .contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.contact-content-con .right-contact .input-field {
  width: 400px;
  height: 40px;
  margin-top: 20px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
  padding-left: 10px;
}

.contact-content-con .right-contact textarea {
  width: 400px;
  height: 150px;
  padding-top: 10px;
  margin-top: 20px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
  padding-left: 10px;
}

/* contact */

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  body {
    padding: 0;
  }

  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .home {
    padding-left: 20%;
  }

  #menu-bars {
    display: initial;
  }

  .contact {
    padding-left: 15%;
  }

  header {
    left: -120%;
  }

  header.active {
    left: 0%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .home {
    padding-left: 20%;
  }

  .contact {
    padding-left: 0;
  }

  header {
    width: 100%;
  }

  .experience .box-container .box {
    padding-right: 0;
  }
}
